body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0%;
    padding: 0%;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background: linear-gradient(to bottom, #000000, #00000000);
}

.logo {
    width:150px;
     height:50px;
}


nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.5s ease;
}
.navegador{
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.5s ease;
}

nav a:hover {
    background-color: gray;
}

h1{
    text-align: left;
    font-size: 2em;
    font-family: Arial, sans-serif;
    color: white;
    margin-top: -1em;
    margin-left: 1em;
}
video{
    margin-left: 17em;
    width: 50%;
    height: 50%;
    margin-top: 100px;

}

.hero{
    text-align: center;
    font-size: 50px;
    font-family: Arial, sans-serif;
    color: white;
    
    position: fixed;
    top: 9em;
}
.hero1{
    text-align: center;
    margin-top: 100px;
    font-size: 25px;
    font-family: Arial, sans-serif;
    color: white;
    margin-left: 25em;
}
.hero2{
    text-align: center;
    margin-top: 100px;
    font-size: 25px;
    font-family: Arial, sans-serif;
    color: white;
    margin-left: 18em;
}

.hero3{
    text-align: center;
    margin-top: 100px;
    font-size: 25px;
    font-family: Arial, sans-serif;
    color: white;
    margin-left: 40em;
}

.hero4{
    text-align: center;
    margin-top: 100px;
    font-size: 25px;
    font-family: Arial, sans-serif;
    color: white;
    margin-left: 21em;
}


.base{
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    margin-top: 47em;
    border-top: 1px solid #ccc;
}

.imgProyecto1{
    width: 22%;
    height: 100%;
    margin-top: 70px;
    margin-bottom: 100px;
    margin-left: 16em;
}

.pText1{
    font-size: 20px;
    font-family: Arial, sans-serif;
    color: white;
    margin-left: 10em;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 50%;
    height: 100%;
    text-align: justify;
    margin-left: 33em;
    margin-top: -19em;
    padding: auto;

}

.imgProyecto2{
    height: 100%;
    width: 22%;
    margin-left: 16em;
   
}
.pText2{
    font-size: 20px;
    font-family: Arial, sans-serif;
    color: white;
    margin-left: 10em;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 50%;
    height: 100%;
    text-align: justify;
    margin-left: 32em;
    margin-top: -14em;
}
.pText3{
    font-size: 20px;
    font-family: Arial, sans-serif;
    color: white;
    width: 50%;
    height: 100%;
    text-align: justify;
    margin-left: 21em;
}

.foot{
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    margin-top: 20em;
    border-top: 1px solid #ccc;
}
.linea{
    margin-top: 19em;
    margin-bottom: 100px;
    margin-left: 10em;
    margin-right: 10em;
    border: 1px solid #cccccc31;
}
.slider{
    width: 50%;
    margin-top: 1em;
    margin-left: 30em;
    margin-right: 10em;
    margin-bottom: 80px;
}

<!-- /* Path: Nexo-Holding\css\styles.css */ -->
body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}
form {
    background-color: rgb(11 3 3 / 0%);
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    margin: 50px auto;
    max-width: 500px;
    padding: 20px;
}
label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
}
input[type="checkbox"] {
    margin-right: 10px;
}
input[type="submit"] {
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
    width: 100%;
}
input[type="submit"]:hover {
    background-color: #3e8e41;
}

.foot1{
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    margin-top: 10em;
  
}
.foot2{
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    margin-top: 20em;
  
}
.video{
    margin-left: 9em;
    width: 100%;
    height: 100%;
}
.news-box {
    background-color: #f2f2f200;
    border: 1px solid #cccccc62;
    padding: 20px;
    margin: 20px;
  }
  .news-item {
    margin-bottom: 10px;
  }
  .news-item h2 {
    margin-top: 0;
    font-size: 1.2em;
  }
  .news-item p {
    margin-bottom: 0;
    font-size: 0.9em;
  }
 .checkbox{
        margin-left: 10em;
        margin-top: 10em;
 }
 .footerBotton{
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    margin-left: 28em;
   
 }
 .footerBotton2{
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    margin-left: 42em;
   
 }
 .footerBotton3{
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    margin-left: 31em;
   
 }
.img_trab{
    width: 15%;
    margin-left: 26em;
    margin-top: 3em;
}

 .information__text{
    font-size: 20px;
    font-family: Arial, sans-serif;
    color: white;
    margin-bottom: 100px;
    width: 50%;
    height: 100%;
    text-align: justify;
    margin-right: 25em;
    margin-top: 11em;
    margin-left: -14em;
    padding: auto;
 }
 .foot2{
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    margin-top: 30em;
 }
 .my-container {
    border: 1px solid white;
    border-radius: 10px;
    padding: 5px;
    max-width: 180vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;
  }
  
.tarjeta1{
    width: 100%;
    height: 100%;
    margin-left: 10em;
    margin-top: 10em;
    margin-bottom: 10em;
    border: 1px solid #cccccc62;
    padding: 20px;
    background-color: #f2f2f200;

 }
 .tarjeta2{
    width: 100%;
    height: 100%;
    margin-left: 10em;
    margin-top: 10em;
    margin-bottom: 10em;
    border: 1px solid #cccccc62;
    padding: 20px;
    background-color: #f2f2f200;

 }

 .tarjeta3{
    width: 100%;
    height: 100%;
    margin-left: 10em;
    margin-top: 10em;
    margin-bottom: 10em;
    border: 1px solid #cccccc62;
    padding: 20px;
    background-color: #f2f2f200;

 }
 .menu {
    display: flex;
    list-style: none;
    margin-right: 30px;
  }
  
  .menu li {
    margin: 0 10px;
  }
  
  .menu li a:hover {
    border-bottom: 2px solid #fff;
  }
  
  .menu-btn {
    display: none;
  }
  
  @media (max-width: 1247px) {
    .menu {
      display: none;
    }
    .menu-btn {
      display: block;
      cursor: pointer;
    }
    .menu-btn span {
      display: block;
      width: 30px;
      height: 3px;
      background-color: #fff;
      margin: 5px;
    }
      
  }

  @media (max-width: 1247px) {
    .menu {
      display: none;
      position: absolute;
      top: 60px;
      left: 0;
      right: 0;
      background-color: #000;
      z-index: 1;
    }
    .menu.show {
      display: flex;
      flex-direction: column;
    }
    .menu li {
      margin: 10px;
    }
  }





  
  